body {
    background-color: #141414;
    color: #fff;
}

#gameContainer {
    font-family: "Permanent Marker", cursive;
    text-align: center;
}

h1 {
    color: red;
    font-size: 50px;
}

.scoreBoard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.X,
.O {
    margin: 0 20px;
    font-size: 40px;
    color: rgb(82, 82, 82);
}

#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: 20px auto;
}

#statusText {
    color: green;
}

.cell {
    width: 75px;
    height: 75px;
    border: 2px solid #fff;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    background-color: red;
    color: #fff;
    margin: 0 10px;
}

#continueBtn {
    background-color: green;
}