body {
    background-color: #141414;
    color: #fff;
}
.modal-content {
    background-color: rgb(197, 167, 90);
    text-align: center;
}
#messageBox {
    width: 50%;
    margin: 20px;
    font-size: 20px;
    display: none;
    color: white;
    border: 1px solid white;
}

#gameContainer {
    font-family: "Permanent Marker", cursive;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#messageBox {
    background-color: rgb(27, 172, 27);
}

h1 {
    margin-top: 20px;
    color: red;
    font-size: 50px;
}

.scoreBoard {
    display: flex;
    justify-content: center;
    align-items: center;
}


.X,
.O {
    margin: 0 20px;
    font-size: 40px;
    color: rgb(82, 82, 82);
}

#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: 20px auto;
}

#statusText {
    color: green;
}

.cell {
    width: 75px;
    height: 75px;
    border: 2px solid #fff;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}